mixin headerNavLink(link, text)
	li.header-nav__item
		a(href=link).header-nav__link=text
		
mixin icon(name, type, description, className)
	img(src="./static/img/"+name+"."+type alt=description class=className)