doctype html
html(leng="ru-RU")
	head
		title Главная
		link(rel="stylesheet", type="text/css" href="../static/css/main.css")
		link(rel="stylesheet", type="text/css" href="../static/css/libs.min.css")
	body
		include header/header