doctype html
html(leng="ru-RU")
	head
		title Главная
		link(rel="stylesheet", type="text/css" href="css/main.css")
		link(rel="stylesheet", type="text/css" href="css/libs.min.css")
	body
		p Первая страница на pug