.header__main
	.header__Logo.Logo
		img(src="/app/static/img" alt="Доготип").Logo__img
	.header__phones
		.header__item
			a(href="tel:8923432520").header__phone 8 (923) 43-25-20
			a(href="tel:8923432520").header__link Заказать звонок
		.header__item
			a(href="tel:8923432520").header__phone 8 (923) 43-25-20
			a(href="tel:8923432520").header__link Заказать звонок
	.header__address
		+icon('location', 'header-adderss__icon')
		span.header-address__text Днепр, пр-т Любарского, 11 к. 2