.header__main
	.container
		.header__content
			.header__logo.logo
				img(src="static/img/logo.gif" alt="Логотип").logo__img
			.header__phones
				.header__item
					a(href="tel:8923432520").header__phone 8 (923) 43-25-20
					a(href="tel:8923432520").header__link Заказать звонок
				.header__item
					a(href="tel:8923432520").header__phone 8 (923) 43-25-20
					span.header__description Звонок бесплатный
			.header__address.header-address
				+icon('location', 'svg', 'Location', 'header-address__icon')
				span.header-address__text Днепр, пр-т Любарского, 11 к. 2
			.header__shop
				.header-goods
					span.header-goods__prise 0 &#8381
					span.header-goods__count 0 товаров 
				.header-basket
					+icon('basket', 'svg', 'Basket', 'header-basket__icon')
					span.header-basket__text Корзина